<div class="card-container">
  @if (poke) { @for (pokemon of poke.results; track pokemon.url) {
  <div class="card">
    <div class="card-header">{{ pokemon.name }}</div>
    <div class="card-image">
      <img
        width="300"
        alt="Pokemon sprite"
        src="{{ pokemon.detail?.sprites?.front_default }}"
      />
    </div>
  </div>
  } } @if (!poke) {
  <div class="card-container">
    <p>Loading...</p>
  </div>
  } @if (poke?.next) {
  <div class="arrow-container" (click)="getPoke(poke!.next)">
    <i class="fas fa-play"></i>
  </div>
  } @if (poke?.previous) {
  <div class="arrow-container-back" (click)="getPoke(poke!.previous)">
    <i class="fas fa-play"></i>
  </div>
  }
</div>
